@import url("https://fonts.googleapis.com/css2?family=Inspiration&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nova+Script&display=swap");
/* Variables for consistency */
/*essai de mixin*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif, "Times New Roman", serif;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
body img[src$="circle.png"] {
  width: 100px;
}
body h1 {
  font-size: 53px;
  font-weight: 300;
  line-height: 71px;
}
body h2 {
  font-size: 35px;
  line-height: 55px;
}
body h3 {
  font-size: 18px;
  line-height: 36px;
  font-weight: 400;
}
body p {
  font-size: 14px;
  line-height: 23px;
}
body a {
  text-decoration: none;
  font-size: 25px;
}
body a:hover {
  color: blue;
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

header.bannier {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-weight: 300;
}
header.bannier .logo {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-family: "Inspiration", cursive;
  gap: 1em;
}
header.bannier nav.navigation {
  display: flex;
  gap: 1em;
}
header.bannier nav.button a {
  padding: 3px 8px;
  border-radius: 8px;
  color: white;
  background: linear-gradient(to bottom left, rgb(102, 117, 247), rgb(87, 0, 123));
}
header.bannier nav.button a:hover {
  transform: scale(1.1);
  color: yellow;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  transform: box-shadow 0.3s ease;
}

.presentation {
  display: flex;
  position: relative;
  flex-direction: row;
  padding: 0 10%;
  width: 100%;
  height: 550px;
  gap: 5em;
  margin: 8em 0;
}
.presentation img.circle_up {
  position: absolute;
  bottom: -35%;
  left: 30%;
  z-index: -1;
}
.presentation .presentation_left {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 1em;
  color: #333;
  font-weight: 300;
}
.presentation .presentation_left .text-gradient {
  background: linear-gradient(to bottom left, rgb(222, 67, 150), rgba(13, 28, 159, 0));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.presentation .presentation_right img {
  width: 100%;
  height: fit-content;
}

.second_block {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 900px;
  justify-content: space-around;
  background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(231, 218, 237));
  padding-top: 0;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.second_block .second_block_h2 {
  display: flex;
  width: 100%;
  justify-content: center;
}
.second_block h3 {
  display: flex;
  top: 50px;
  width: 100%;
  justify-content: center;
}
.second_block .carousel_nodes {
  display: flex;
  margin: 75px auto;
  width: fit-content;
  height: 20px;
  background-color: #ddd;
  border-radius: 5px;
}
.second_block .carousel_numb {
  position: absolute;
  bottom: 25px;
  right: 100px;
  margin: 1em auto;
  text-align: center;
  color: #333;
}
.second_block .second_block_carousel {
  display: flex;
  justify-content: center;
  gap: 3em;
  width: 100%;
  align-items: center;
  overflow-x: scroll;
}
.second_block .second_block_carousel .carousel {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 20px;
  gap: 1em;
  min-width: 250px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
}
.second_block .second_block_carousel .carousel_img {
  width: 25px;
  align-self: normal;
  height: auto;
  border-radius: 8px;
}
.second_block .second_block_carousel .carousel:hover {
  transform: translateY(30px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  border: 1px solid black;
}
.second_block .second_block_carousel h3 {
  color: #333;
}
.second_block .second_block_carousel p {
  color: #666;
}

.third_block {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 3em 10%;
  background-color: rgb(247, 247, 250);
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 5em 5em;
  line-height: 2em;
}
.third_block img.circle_down {
  position: absolute;
  top: -25%;
  left: 60%;
  width: 100px;
  height: 100px;
  z-index: -1;
}
.third_block .third_block_left {
  display: flex;
  height: 100%;
  width: 50%;
  flex-direction: column;
  gap: 2em;
  color: #333;
  padding-right: 2em;
}
.third_block .third_block_left .deco_line {
  width: 75px;
}
.third_block .third_block_left .title {
  padding-bottom: 1em;
}
.third_block .third_block_left .information {
  justify-content: start;
  color: #333;
  text-decoration: none;
  font-weight: 700;
}
.third_block .third_block_right {
  display: flex;
  flex-direction: column;
}
.third_block .third_block_right img {
  width: 100%;
  height: auto;
}

.fourth_block {
  display: flex;
  position: relative;
  width: 100%;
  padding: 0 10%;
  flex-direction: column;
  line-height: 1.5;
}
.fourth_block h2 {
  margin-top: 1em;
  margin-bottom: 2em;
}
.fourth_block .deco_line {
  width: 75px;
}
.fourth_block .arrow {
  margin-left: auto;
  align-self: flex-end;
  width: 150px;
}
.fourth_block .circle_fourth {
  position: absolute;
  top: 315px;
  left: 75%;
  z-index: -1;
  width: 75px;
  height: 75px;
  z-index: -1;
}

.fifth_block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgb(247, 247, 250);
  min-width: 20em;
  height: 15vh;
  gap: 6em;
  border-radius: 10px;
  padding: 0 2%;
  position: relative;
  z-index: 0;
  overflow-x: scroll;
}
.fifth_block .image_fifth {
  width: 12em;
  min-width: 6em;
  height: auto;
  background: rgb(247, 247, 250);
}
.fifth_block .circle_fifth {
  position: absolute;
  top: -50px;
  right: 0;
  transform: translateY(-50%);
  width: 150px;
  height: 150px;
  z-index: 0;
}

.sixth_block {
  display: flex;
  border: 1px solid;
  border-color: red;
  width: 100%;
  height: 900px;
  flex-direction: column;
  align-items: center;
}
.sixth_block .sixth_block_upper {
  display: flex;
  position: relative;
  padding: 0 8em;
  border: 1px solid;
  border-color: green;
  width: 75%;
  flex-direction: column;
  align-items: center;
  margin-top: 10em;
  margin-bottom: 5em;
  gap: 2em;
}
.sixth_block .sixth_block_upper .sixth_block_image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sixth_block .sixth_block_upper h3 {
  width: 80%;
  text-align: center;
}
.sixth_block .sixth_block_upper p {
  text-align: center;
  width: 100%;
}
.sixth_block .sixth_block_upper .sixth_block_comma01 {
  position: absolute;
  top: 135px;
  left: 100px;
}
.sixth_block .sixth_block_upper .sixth_block_comma02 {
  position: absolute;
  bottom: 0;
  right: 100px;
}
.sixth_block .sixth_block_upper .sixth_block_arrow01 {
  position: absolute;
  top: 50%;
  left: -10%;
}
.sixth_block .sixth_block_upper .sixth_block_arrow02 {
  position: absolute;
  transform: rotate(180deg);
  top: 50%;
  right: -10%;
}
.sixth_block .sixth_block_down {
  display: flex;
  border: 1px solid;
  border-color: blue;
  width: 80%;
  flex-direction: row;
}
.sixth_block .sixth_block_down .block_down {
  display: flex;
  border: 1px solid;
  border-color: red;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  margin: 0 auto;
  justify-content: center;
}
.sixth_block .sixth_block_down .block_down .down_name {
  color: rgb(160, 174, 192);
}
.sixth_block .sixth_block_down .block_down .down_work {
  color: rgb(226, 232, 240);
}

.seven_block {
  display: flex;
  position: relative;
  border: 5px solid;
  border-color: violet;
  width: 100%;
  height: 50vh;
  justify-content: center;
  align-items: center;
  overflow-x: visible;
}
.seven_block .block_text {
  display: flex;
  border: 5px solid;
  border-color: rgb(162, 30, 52);
  width: 20%;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.seven_block .block_text img {
  width: 75px;
}
.seven_block .block_img1 {
  position: absolute;
  width: 20%;
  top: -40%;
  left: 6%;
}
.seven_block .block_img2 {
  position: absolute;
  width: 25px;
  top: 25%;
  left: 30%;
}
.seven_block .block_img3 {
  position: absolute;
  width: 30%;
  transform: rotate(270deg);
  top: -50%;
  right: 6%;
}

.height_block {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10% 10%;
}
.height_block section {
  display: flex;
  width: 100%;
  height: 30%;
  margin-bottom: 3em;
  background-color: rgb(241, 242, 255);
  border-radius: 5px;
}
.height_block section h2 {
  font-size: 1.8em;
}
.height_block section left_block {
  width: auto;
}
.height_block section .right_block {
  display: flex;
  text-align: justify;
  flex-direction: column;
  justify-content: flex-start;
  width: auto;
  border: 1px solid black;
}
.height_block section .right_block h2 {
  padding-top: 1em;
  padding-bottom: 2em;
  padding-left: 1em;
}
.height_block section .right_block p {
  padding: 0 2em;
}
.height_block section .right_block .text_block_read {
  padding-top: 6em;
  padding-left: 25em;
  width: fit-content;
}
.height_block section .right_block .text_block_read img:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.1s ease;
}
.height_block .case-study {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.height_block .case-study img {
  width: 18%;
}
.height_block .case-study img:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.1s ease;
}

.nine_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding-top: 5em;
  background-color: rgb(247, 247, 250);
  height: 25em;
}
.nine_block .text_block {
  font-weight: 300;
  text-align: center;
}

.ten {
  width: 100%;
  background-color: rgb(247, 247, 250);
  padding-bottom: 5em;
}
.ten .main_block {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin: 0 2%;
  gap: 2em;
}
.ten .main_block .block {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  height: 200px;
  width: 40%;
  border: 1px solid black;
  background-color: rgb(250, 250, 250);
}
.ten .main_block .block .img_block {
  flex-shrink: 0;
  width: 10%;
}
.ten .main_block .block .img_block img {
  max-width: 200px; /* Adjust as needed */
  max-height: auto;
  min-width: 50px;
  display: block;
}
.ten .main_block .block .text_block {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.ten .main_block .block .text_block h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.ten .main_block .block .text_block p {
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
}

.eleven_block {
  background: linear-gradient(to bottom, rgb(241, 241, 245), rgb(228, 236, 247));
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15em;
  border-radius: 10px;
  margin: 5em;
  height: 25em;
  width: 90%;
}
.eleven_block .text_block {
  text-align: left;
  width: auto;
}
.eleven_block .img_block {
  flex-shrink: 0;
  width: auto;
}
.eleven_block .img_block:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.1s ease;
}

.footer {
  padding: 40px 20px;
}
.footer .container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer .footer-section {
  display: flex;
  flex: 1;
  gap: 40px;
}
.footer .footer-section > div {
  flex: 1;
}
.footer .footer-section .footer-logo img {
  max-width: 50px;
  margin-bottom: 15px;
}
.footer .footer-section .footer-logo p {
  margin: 10px 0;
}
.footer .footer-section .footer-logo .footer-badge {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer .footer-section .footer-logo .footer-badge img {
  max-height: 30px;
}
.footer .footer-section .footer-logo .footer-badge span {
  font-weight: bold;
}
.footer .footer-section .footer-links h3 {
  margin-bottom: 15px;
  font-weight: 700;
}
.footer .footer-section .footer-links ul {
  list-style: none;
  padding: 0;
}
.footer .footer-section .footer-links ul li {
  margin-bottom: 10px;
}
.footer .footer-section .footer-links ul li a {
  text-decoration: none;
  font-size: 15px;
}
.footer .footer-section .footer-links ul li a:hover {
  text-decoration: underline;
}
.footer .footer-section .footer-contact h3 {
  margin-bottom: 15px;
  font-weight: 700;
}
.footer .footer-section .footer-contact p {
  margin-bottom: 10px;
}
.footer .footer-section .footer-contact a {
  font-size: 12px;
  text-decoration: none;
}
.footer .footer-section .footer-contact a:hover {
  text-decoration: underline;
}
.footer .footer-section .footer-contact .footer-social {
  margin-top: 15px;
  display: flex;
  gap: 10px;
}
.footer .footer-section .footer-contact .footer-social a img {
  max-width: 20px;
}
.footer .footer-bottom {
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #444;
  padding-top: 10px;
}
.footer .footer-bottom p {
  margin: 0;
}

/*# sourceMappingURL=index.css.map */
